Flask
Werkzeug
line-bot-sdk
python-dotenv
requests
python-multipart
google-generativeai
gunicorn
APScheduler
redis
pillow
pandas
matplotlib
numpy
scipy
python-dateutil
python-slugify
json5
beautifulsoup4
lxml
markdown
